In [56]:
import pandas as pd

sales1 = pd.read_parquet('new_output/open_order.parquet',engine='pyarrow')
sales1.head()

,product_id,depo_kodu,toplam_yoldaki_miktar,toplanmayan_urun
0,000LP-0002Dark Indigo - Worn In34-30,9001,1,0
1,000RY-0000WhitesM,2801,1,0
2,000RY-0002BlacksM,2701,1,0
3,001T2-0010Light Indigo - Worn In32-30,9001,1,0
4,001T2-0010Light Indigo - Worn In34-32,9001,1,0

In [57]:
import pandas as pd

sales_2 = pd.read_csv('replenishment_results.csv')
sales_2.dtypes

store_code;stok_kodu;product_id;safety_stock;prediction_df;stok_miktar;net_quantity_7;net_quantity_14;net_quantity_28;prediction_ma;acik_siparis;w_model;pred_14_blended;pred_LT;ihtiyac_adet    object
dtype: object

In [50]:
sales = pd.read_parquet('new_output/breakdown_store.parquet',engine='pyarrow')
sales.head()

,week_start_date,store_cluster,store_code,product_att_01,product_att_02,product_att_05,stok_kodu,store_predicted_quantity,predicted_quantity,store_ratio
0,2025-08-18,0,1301,1.0,1.0,1.0,38073801,0.146159,7.600286,0.019231
1,2025-08-18,0,1301,1.0,1.0,1.0,38073866,0.292319,7.600286,0.038462
2,2025-08-18,0,1401,1.0,1.0,1.0,101345151,0.097440,7.600286,0.012821
3,2025-08-18,0,1401,1.0,1.0,1.0,101815015,0.194879,7.600286,0.025641
4,2025-08-18,0,1401,1.0,1.0,1.0,38073866,0.146159,7.600286,0.019231

In [ ]:
import pandas as pd
from datetime import datetime,timedelta
sales['date'] = pd.to_datetime(sales['date'])
last_date = pd.to_datetime(sales['date'].max())
start_date = last_date - timedelta(days=14) 
filtered2 = sales[(sales['date'] >= last_date - pd.Timedelta(days=13)) & (sales['date'] <= last_date) & (sales['product_id']=='910246-2849GREY MELANGEL') & (sales['store_code']==1501)]
filtered2.groupby('product_id').agg({'net_quantity':'sum'}).reset_index()

In [41]:
start_date

Timestamp('2025-08-01 00:00:00')

In [35]:
sales_14 = (sales[sales['period_14']]
            .groupby(['product_id','store_code','date'], as_index=False)['net_quantity']
            .sum()
            .rename(columns={'net_quantity':'net_quantity_14'}))

In [39]:
sales_14.loc[sales_14['product_id']=='910246-2849GREY MELANGEL','date'].min()

Timestamp('2025-08-08 00:00:00')

In [78]:
import pandas as pd
rpt = pd.read_csv('output/replenishment_results.csv',sep=';')
rpt[rpt['ihtiyac_adet']<=0]

Empty DataFrame
Columns: [store_code, stok_kodu, product_id, safety_stock, prediction_df, stok_miktar, net_quantity_7, net_quantity_14, net_quantity_28, prediction_ma, acik_siparis, w_model, pred_14_blended, pred_LT, OUL_14, ihtiyac_adet]
Index: []

In [61]:
warehouse_dist[(warehouse_dist['urun']>'11016-6URQuartz38-39')&(warehouse_dist['gonderen_depo']!='900101')].head()

,gonderen_depo,alan_magaza,urun,baslangic_depo_stok,ihtiyac_adet,karsilanan_adet,karsilanmayan_adet,kalan_ihtiyac,kalan_depo_stok
778,STOK_YOK,2101,111380-BBKSiyah36,0.0,3,0,3,3,0.0
779,STOK_YOK,1401,111380-BBKSiyah36,0.0,1,0,1,1,0.0
780,STOK_YOK,1101,111380-BBKSiyah36,0.0,1,0,1,1,0.0
781,STOK_YOK,1801,111380-BBKSiyah36,0.0,1,0,1,1,0.0
782,STOK_YOK,1901,111380-BBKSiyah36,0.0,1,0,1,1,0.0

In [69]:
warehouse_dist[(warehouse_dist['urun']=='11016-6URQuartz38-39')&(warehouse_dist['gonderen_depo']=='900101')]

,gonderen_depo,alan_magaza,urun,baslangic_depo_stok,ihtiyac_adet,karsilanan_adet,kalan_ihtiyac,depo_sevk_toplam,depo_kalan_nihai
6528,900101,2301,11016-6URQuartz38-39,3.0,5,1,4,3,0.0
6529,900101,1601,11016-6URQuartz38-39,3.0,2,1,1,3,0.0
6530,900101,1301,11016-6URQuartz38-39,3.0,2,1,1,3,0.0

In [73]:
import pandas as pd

warehouse_dist = pd.read_parquet('output/warehouse_distribution.parquet',engine='pyarrow')
warehouse_dist.groupby('gonderen_depo').agg({'ihtiyac_adet':'sum','karsilanan_adet':'sum'}).reset_index()

  gonderen_depo  ihtiyac_adet  karsilanan_adet
0        900101           996              948
1        910101          1171             1147
2      STOK_YOK         36959                0