In [47]:
import pandas as pd
from datetime import datetime,timedelta
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

product = pd.read_csv('data/dim_product.csv',index_col=None)
store_stock =  pd.read_csv('data/store_stock.csv',index_col=None)
warehouse_stock =  pd.read_csv('data/warehouse_stock.csv',index_col=None)
predictions = pd.read_csv('data/daily_breakdown_store.csv',index_col=None)
sales =  pd.read_csv('data/history_sales.csv',index_col=None)
orders = pd.read_csv('data/open_order.csv',index_col=None)

C:\Users\FromHell\AppData\Local\Temp\ipykernel_10972\844458542.py:7: DtypeWarning: Columns (1,22) have mixed types. Specify dtype option on import or set low_memory=False.
  product = pd.read_csv('data/dim_product.csv',index_col=None)
C:\Users\FromHell\AppData\Local\Temp\ipykernel_10972\844458542.py:8: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  store_stock =  pd.read_csv('data/store_stock.csv',index_col=None)
C:\Users\FromHell\AppData\Local\Temp\ipykernel_10972\844458542.py:11: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  sales =  pd.read_csv('data/history_sales.csv',index_col=None)

In [48]:
orders['acik_siparis'] = orders['toplam_yoldaki_miktar'] + orders['toplanmayan_urun']
orders.rename(columns={'depo_kodu' : 'store_code'},inplace=True)
orders.head()

                              product_id  store_code  toplam_yoldaki_miktar  toplanmayan_urun  acik_siparis
0   000LP-0002Dark Indigo - Worn In34-30        9001                      1                 0             1
1                      000RY-0000WhitesM        2801                      1                 0             1
2                      000RY-0002BlacksM        2701                      1                 0             1
3  001T2-0010Light Indigo - Worn In32-30        9001                      1                 0             1
4  001T2-0010Light Indigo - Worn In34-32        9001                      1                 0             1

In [49]:
product_segments_cols = [
    'product_id',
    'product_att_01', 'product_att_02', 'product_att_03'
]
sales_with_segment = sales.merge(product[product_segments_cols], on='product_id', how='left')

sales_with_segment['product_att_02'] = sales_with_segment['product_att_02'].apply(
    lambda x: int(str(x).replace('D', '9').replace('N', '9')) if isinstance(x, str) and ('D' in x or 'N' in x) else x
)

sales_with_segment['product_att_02'] = pd.to_numeric(sales_with_segment['product_att_02'], errors='coerce')


# Filtrele: 9.0'lar hariÃ§
filtered_sales = sales_with_segment[
    (~(sales_with_segment['product_att_01'] == 9.0)) &
    (~(sales_with_segment['product_att_02'] == 9.0))
]
filtered_sales = sales_with_segment[
    (~(sales_with_segment['product_att_01'] == 999)) &
    (~(sales_with_segment['product_att_02'] == 999))
]

filtered_sales = filtered_sales[filtered_sales["net_quantity"] >= 0]
filtered_sales['date'] = pd.to_datetime(filtered_sales['date'])
sales = filtered_sales

In [50]:
store_stock['product_id'] = store_stock['stok_kodu'] + store_stock['color_code'] + store_stock['size'] 
store_stock_agg = store_stock.groupby(
    ['stok_tarihi','magaza','stok_kodu','product_id']
).agg({'toplam_miktar':'sum'}).reset_index()
store_stock_agg.rename(columns={'toplam_miktar': 'stok_miktar'}, inplace=True)


store_stock_agg['stok_miktar'] = store_stock_agg['stok_miktar'].astype(int)
store_stock_agg.head()

  stok_tarihi  magaza stok_kodu                            product_id  stok_miktar
0  2025-08-16     201  04146501       04146501Puma Black/Gray VioletL            1
1  2025-08-16     201  04146603                   04146603Puma BlackL            1
2  2025-08-16     201  04164101  04164101Puma Black/Gold/Puma White10            2
3  2025-08-16     201  04164101  04164101Puma Black/Gold/Puma White11            2
4  2025-08-16     201  04164101   04164101Puma Black/Gold/Puma White4            2

# AgÄ±rlÄ±klÄ± SatÄ±slar

In [51]:
max_date = pd.to_datetime(sales['date'].max())
start_7 = max_date - pd.Timedelta(days=6)  

mask = (sales['date'] >= start_7) & (sales['date'] <= max_date)
sales_agg_7 = sales.loc[mask]

sales_7 = (sales_agg_7
           .groupby(['product_id','store_code'], as_index=False)['net_quantity']
           .sum()
           .rename(columns={'net_quantity':'net_quantity_7'}))

start_14 = max_date - pd.Timedelta(days=13)  

mask = (sales['date'] >= start_14) & (sales['date'] <= max_date)
sales_agg_14 = sales.loc[mask]

sales_14 = (sales_agg_14
           .groupby(['product_id','store_code'], as_index=False)['net_quantity']
           .sum()
           .rename(columns={'net_quantity':'net_quantity_14'}))

start_28 = max_date - pd.Timedelta(days=27)  

mask = (sales['date'] >= start_28) & (sales['date'] <= max_date)
sales_agg_28 = sales.loc[mask]

sales_28 = (sales_agg_28
           .groupby(['product_id','store_code'], as_index=False)['net_quantity']
           .sum()
           .rename(columns={'net_quantity':'net_quantity_28'}))

# Ã¼rÃ¼n-maÄaza ikilisi belirleme

In [52]:

def get_store_sku_pairs_union(
    store_stock: pd.DataFrame,
    prediction: pd.DataFrame | None = None,
    # stok tarafÄ±
    stock_date_col="stok_tarihi",
    store_col="magaza",
    sku_col="stok_kodu",
    stock_qty_col="stok_miktar",
    lookback_stock_days=30,
    # prediction tarafÄ± 
    pred_date_col="date",
    pred_store_col="store_code",
    pred_sku_col="stok_kodu",
    pred_qty_col="store_predicted_quantity",
    lookahead_pred_days=30,
    min_pred=0.0
):

    ss = store_stock_agg.copy()
    ss[stock_date_col] = pd.to_datetime(ss[stock_date_col])
    ss[store_col] = ss[store_col].astype(str)
    ss[sku_col] = ss[sku_col].astype(str)
    ss[stock_qty_col] = pd.to_numeric(ss[stock_qty_col], errors="coerce").fillna(0)


    max_dates = [ss[stock_date_col].max()]
    if prediction is not None:
        max_dates.append(pd.to_datetime(prediction[pred_date_col]).max())
    today = max([d for d in max_dates if pd.notna(d)])

    # son 30 gÃ¼nde pozitif stok
    start_stock = today - pd.Timedelta(days=lookback_stock_days-1)
    stock_pairs = (
        ss[(ss[stock_date_col] >= start_stock) & (ss[stock_date_col] <= today) & (ss[stock_qty_col] > 0)]
        [[store_col, sku_col]]
        .drop_duplicates()
    )

    # predictionâdan gelen ikililer 
    if prediction is not None:
        pr = prediction.copy()
        pr[pred_date_col] = pd.to_datetime(pr[pred_date_col])
        pr[pred_store_col] = pr[pred_store_col].astype(str)
        pr[pred_sku_col] = pr[pred_sku_col].astype(str)
        pr[pred_qty_col] = pd.to_numeric(pr[pred_qty_col], errors="coerce").fillna(0)


        end_pred   = today + pd.Timedelta(days=lookahead_pred_days-1)

        pred_pairs = (
            pr[(pr[pred_date_col] <= end_pred) & (pr[pred_qty_col] > min_pred)]
            [[pred_store_col, pred_sku_col]]
            .drop_duplicates()
            .rename(columns={pred_store_col: store_col, pred_sku_col: sku_col})
        )
        pairs = pd.concat([stock_pairs, pred_pairs], ignore_index=True).drop_duplicates()
    else:
        pairs = stock_pairs

    return pairs.sort_values([store_col, sku_col]).reset_index(drop=True)
store_sku_pairs = get_store_sku_pairs_union(store_stock)
store_sku_pairs

      magaza    stok_kodu
0       1101     04146501
1       1101     04146603
2       1101     04164101
3       1101     04177301
4       1101     04177308
...      ...          ...
41202    701  980370-3325
41203    701  980377-2001
41204    701      FC-3007
41205    701      FC-3008
41206    701      FC-4022

[41207 rows x 2 columns]

In [53]:
store_sku_pairs["magaza"]  = store_sku_pairs["magaza"].astype(str)
store_sku_pairs["stok_kodu"] = store_sku_pairs["stok_kodu"].astype(str)

product["product_code"] = product["product_code"].astype(str)
product["product_id"] = product["product_id"].astype(str)

pm_active = product.copy()
if "is_blocked" in pm_active.columns:
    pm_active = pm_active.loc[pm_active["is_blocked"].fillna(0).astype(int) == 0]

store_product_pairs = (
    store_sku_pairs
    .merge(pm_active[["product_code", "product_id"]], left_on="stok_kodu", right_on="product_code", how="left")
    .drop(columns=["product_code"])
    .drop_duplicates()
    .reset_index(drop=True)
)
store_product_pairs.rename({'magaza':'store_code'}, axis=1, inplace=True)

store_product_pairs.count()

store_code    241006
stok_kodu     241006
product_id    241006
dtype: int64

# safety stock

In [54]:
import pandas as pd
import numpy as np
from scipy.stats import norm

def seasonal_safety_stock(
    sales: pd.DataFrame,
    date_col="date",
    store_col="store_code",          
    product_col="product_id",
    qty_col="net_quantity",
    lead_time_days=2,
    service_level=0.9,
    month_window=1                   
):
    df = sales.copy()
    df[date_col] = pd.to_datetime(df[date_col])
    df[product_col] = df[product_col].astype(str)
    df[qty_col] = pd.to_numeric(df[qty_col], errors="coerce").fillna(0)
    df[store_col] = df[store_col].astype(str)   # <-- maÄaza tipi

    today = df[date_col].max()
    current_month = today.month

    # Mevsimsel filtre
    months_to_keep = [(current_month + i - 1) % 12 + 1 for i in range(-month_window, month_window + 1)]
    df_seasonal = df[df[date_col].dt.month.isin(months_to_keep)]

    # GÃ¼nlÃ¼k talep (STORE + PRODUCT + DATE)
    daily_demand = (
        df_seasonal.groupby([store_col, product_col, date_col], as_index=False)[qty_col]
                   .sum()
    )

    # Standart sapma ve ortalama (STORE + PRODUCT)
    demand_stats = (
        daily_demand.groupby([store_col, product_col])
        .agg(
            daily_avg=(qty_col, "mean"),
            daily_std=(qty_col, "std")
        )
        .fillna(0)
        .reset_index()
    )

    # Z deÄeri
    z_value = norm.ppf(service_level)

    # Safety stock
    demand_stats["safety_stock"] = (
        z_value * demand_stats["daily_std"] * np.sqrt(lead_time_days)
    ).round(2)

    return demand_stats

# Ãrnek kullanÄ±m (kolon adÄ±n "store_Code" ise store_col="store_Code" yaz):
ss_df = seasonal_safety_stock(sales, store_col="store_code", month_window=1)
ss_df

       store_code                              product_id  daily_avg  daily_std  safety_stock
0             101       00501-3184THUNDER MOON ROCKS32-30   2.000000   0.000000          0.00
1             101              00501-3285CANYON MILD34-32   2.000000   0.000000          0.00
2             101              00514-1422DARK HOLLOW34-32   2.000000   0.000000          0.00
3             101  015M100031-NBK-CHOCHOCOLATE // NUBUK43   4.000000   0.000000          0.00
4             101      015M101226-NBK-BLKBLACK // NUBUK40   2.000000   0.000000          0.00
...           ...                                     ...        ...        ...           ...
231890        701                           FC-3007STDSTD   1.625000   1.767767          3.20
231891        701                           FC-3008STDSTD   1.333333   0.577350          1.05
231892        701                           FC-4022STDSTD   1.600000   1.352247          2.45
231893        701                        T21216-2064GREY8   3.000000   1.414214          2.56
231894        701                  T21216-7459DRESS BLUE8   2.000000   0.000000          0.00

[231895 rows x 5 columns]

# option agÄ±rlÄ±klandÄ±rma

In [55]:
LOOKBACK_SALES = 90
LOOKBACK_STOCK = 60

# prediction varsa ondan, yoksa sales'ten "bugÃ¼n"
end_date = pd.to_datetime(sales["date"]).max()

# Tipler
sales = sales.copy()
sales["date"] = pd.to_datetime(sales["date"])
for c in ["store_code", "stok_kodu", "product_id"]:
    sales[c] = sales[c].astype(str)

pairs = store_product_pairs.rename(columns={"magaza": "store_code"}).copy()
for c in ["store_code", "stok_kodu", "product_id"]:
    pairs[c] = pairs[c].astype(str)

stock = store_stock.copy()
stock["stok_tarihi"] = pd.to_datetime(stock["stok_tarihi"])
for c in ["magaza", "stok_kodu", "product_id"]:
    stock[c] = stock[c].astype(str)

start_sales = end_date - pd.Timedelta(days=LOOKBACK_SALES - 1)
s_win = sales[(sales["date"] >= start_sales) & (sales["date"] <= end_date)]
s_win = s_win[s_win["net_quantity"] > 0]

# Sadece mevcut pair + product_id 
s_win = s_win.merge(pairs[["store_code", "stok_kodu", "product_id"]],
                    on=["store_code", "stok_kodu", "product_id"], how="inner")

sales_agg = (
    s_win.groupby(["store_code", "stok_kodu", "product_id"], as_index=False)["net_quantity"]
         .sum()
         .rename(columns={"net_quantity": "sales_90d"})
)

sales_agg["weight_sales"] = (
    sales_agg["sales_90d"] /
    sales_agg.groupby(["store_code", "stok_kodu"])["sales_90d"].transform("sum")
)

start_stock = end_date - pd.Timedelta(days=LOOKBACK_STOCK - 1)
st_win = stock[(stock["stok_tarihi"] >= start_stock) & (stock["stok_tarihi"] <= end_date)]
st_win = st_win[st_win["toplam_miktar"] > 0]

# store_code isim eÅitlemesi
st_win = st_win.rename(columns={"magaza": "store_code"})

st_win = st_win.merge(pairs[["store_code", "stok_kodu", "product_id"]],
                      on=["store_code", "stok_kodu", "product_id"], how="inner")

stock_agg = (
    st_win.groupby(["store_code", "stok_kodu", "product_id"], as_index=False)["toplam_miktar"]
         .sum()
         .rename(columns={"toplam_miktar": "onhand_30d"})
)

stock_agg["weight_onhand"] = (
    stock_agg["onhand_30d"] /
    stock_agg.groupby(["store_code", "stok_kodu"])["onhand_30d"].transform("sum")
)
# (pair + product_id)
children = pairs.copy()  # store_code, stok_kodu, product_id

weights = (children
    .merge(sales_agg[["store_code","stok_kodu","product_id","weight_sales"]], 
           on=["store_code","stok_kodu","product_id"], how="left")
    .merge(stock_agg[["store_code","stok_kodu","product_id","weight_onhand"]],
           on=["store_code","stok_kodu","product_id"], how="left")
)

# Ãncelik: sales -> onhand
weights["weight"] = weights["weight_sales"].where(
    weights["weight_sales"].notna(), weights["weight_onhand"]
)

# TamamÄ± NaN olan gruplarÄ± eÅit bÃ¶l
weights["n_option"] = weights.groupby(["store_code","stok_kodu"])["product_id"].transform("count")
grp_has_any = weights.groupby(["store_code","stok_kodu"])["weight"].transform(lambda s: s.notna().any())
weights.loc[~grp_has_any, "weight"] = 1.0 / weights["n_option"]

# Normalizasyon (toplam = 1)
sum_w = weights.groupby(["store_code","stok_kodu"])["weight"].transform("sum")
# EÄer nadiren sum_w=0 kalÄ±rsa, eÅit bÃ¶l:
zero_sum = (sum_w == 0)
weights.loc[zero_sum, "weight"] = 1.0 / weights.loc[zero_sum, "n_option"]
sum_w = weights.groupby(["store_code","stok_kodu"])["weight"].transform("sum")
weights["weight"] = weights["weight"] / sum_w

weight_map = weights[["store_code","stok_kodu","product_id","weight"]].copy()
weight_map

       store_code    stok_kodu                            product_id    weight
0            1101     04146501       04146501Puma Black/Gray VioletL  0.500000
1            1101     04146501       04146501Puma Black/Gray VioletM  0.500000
2            1101     04146603                   04146603Puma BlackL  0.500000
3            1101     04146603                   04146603Puma BlackM  0.500000
4            1101     04164101  04164101Puma Black/Gold/Puma White10  0.285714
...           ...          ...                                   ...       ...
241001        701  980370-3325                   980370-3325LILAS111  1.000000
241002        701  980377-2001                   980377-2001BLACK111  1.000000
241003        701      FC-3007                         FC-3007STDSTD  1.000000
241004        701      FC-3008                         FC-3008STDSTD  1.000000
241005        701      FC-4022                         FC-4022STDSTD  1.000000

[241006 rows x 4 columns]

# prediction agÄ±rlÄ±klandÄ±rma

In [56]:
predictions = predictions[predictions["store_predicted_quantity"] >= 0]
pred = predictions.copy()  
pred["date"] = pd.to_datetime(pred["date"])
pred.rename({'date':'sales_date'},axis=1, inplace=True)
pred["store_code"] = pred["store_code"].astype(str)
pred["stok_kodu"] = pred["stok_kodu"].astype(str)
pred["store_predicted_quantity"] = pd.to_numeric(pred["store_predicted_quantity"], errors="coerce").fillna(0)
pred_pid = (
    pred.merge(weight_map, on=["store_code", "stok_kodu"], how="inner")
)
pred_pid["prediction_df"] = pred_pid["store_predicted_quantity"] * pred_pid["weight"]

pred_pid = pred_pid[["store_code", "stok_kodu", "product_id", "sales_date", "prediction_df"]]
pred_pid['prediction_df'] = pred_pid['prediction_df'].fillna(0).astype(float)
pred_pid

        store_code  stok_kodu                                     product_id sales_date  prediction_df
0              301   38073866  38073866Puma Black/Puma White/Modern Mint40.5 2025-07-07       0.000000
1              301   38073866    38073866Puma Black/Puma White/Modern Mint41 2025-07-07       0.015873
2              301   38073866    38073866Puma Black/Puma White/Modern Mint42 2025-07-07       0.015873
3              301   38073866  38073866Puma Black/Puma White/Modern Mint42.5 2025-07-07       0.095238
4              301   38073866    38073866Puma Black/Puma White/Modern Mint43 2025-07-07       0.015873
...            ...        ...                                            ...        ...            ...
5117443       2801  SP2K-0029                          SP2K-0029Multi-ColorD 2025-09-24       0.116093
5117444       2801  SP2K-0029                          SP2K-0029Multi-ColorD 2025-09-25       0.116093
5117445       2801  SP2K-0029                          SP2K-0029Multi-ColorD 2025-09-26       0.116093
5117446       2801  SP2K-0029                          SP2K-0029Multi-ColorD 2025-09-27       0.116093
5117447       2801  SP2K-0029                          SP2K-0029Multi-ColorD 2025-09-28       0.116093

[5117448 rows x 5 columns]

In [57]:
base_calc_table_0 = store_product_pairs.merge(
    ss_df[["product_id", "store_code", "safety_stock"]],
    on=["product_id", "store_code"],
    how="left"

)
base_calc_table_0["safety_stock"] = pd.to_numeric(base_calc_table_0["safety_stock"], errors="coerce").fillna(0)
base_calc_table_0['store_code']=base_calc_table_0['store_code'].astype(int)

In [58]:
max_date = pd.to_datetime(filtered_sales['date'].max())
end_date = max_date + timedelta(14)
prediction_daily = pred_pid[(pred_pid['sales_date']<= end_date)&(pred_pid['sales_date'] > max_date)]
prediction_daily = prediction_daily.groupby(
    ['store_code','stok_kodu','product_id']
)['prediction_df'].sum().reset_index()
prediction_daily['store_code'] = prediction_daily['store_code'].astype(int)

base_calc_table_1 = base_calc_table_0.merge(
    prediction_daily[["product_id", "store_code", "prediction_df"]],
    on=["product_id", "store_code"],
    how="left"

)
base_calc_table_1['prediction_df'] = base_calc_table_1['prediction_df'].fillna(0).astype(float)
base_calc_table_1.head()

   store_code stok_kodu                            product_id  safety_stock  prediction_df
0        1101  04146501       04146501Puma Black/Gray VioletL           0.0       0.000000
1        1101  04146501       04146501Puma Black/Gray VioletM           0.0       0.000000
2        1101  04146603                   04146603Puma BlackL           0.0       0.000000
3        1101  04146603                   04146603Puma BlackM           0.0       0.000000
4        1101  04164101  04164101Puma Black/Gold/Puma White10           0.0       0.804232

In [59]:
store_stock_agg.rename(columns={'magaza':'store_code'}, inplace=True)

base_calc_table_2 = base_calc_table_1.merge(
    store_stock_agg[["product_id", "store_code", "stok_miktar"]],
    on=["product_id", "store_code"],
    how="left"

)
base_calc_table_2['stok_miktar'] = base_calc_table_2['stok_miktar'].fillna(0).astype(int)

In [60]:

base_calc_table_3 = (base_calc_table_2
    .merge(sales_7,  on=['store_code','product_id'], how='left')
    .merge(sales_14, on=['store_code','product_id'], how='left')
    .merge(sales_28, on=['store_code','product_id'], how='left')
)

for c in ['net_quantity_7','net_quantity_14','net_quantity_28']:
    base_calc_table_3[c] = base_calc_table_3[c].fillna(0).astype(int)
base_calc_table_3.head()

   store_code stok_kodu                            product_id  safety_stock  prediction_df  stok_miktar  net_quantity_7  net_quantity_14  net_quantity_28
0        1101  04146501       04146501Puma Black/Gray VioletL           0.0       0.000000            1               0                0                0
1        1101  04146501       04146501Puma Black/Gray VioletM           0.0       0.000000            0               0                0                0
2        1101  04146603                   04146603Puma BlackL           0.0       0.000000            1               0                0                0
3        1101  04146603                   04146603Puma BlackM           0.0       0.000000            0               0                0                0
4        1101  04164101  04164101Puma Black/Gold/Puma White10           0.0       0.804232            2               0                0                0

In [61]:
base_calc_table_3['prediction_ma'] = (
    (base_calc_table_3['net_quantity_7']/7)*0.5 + 
    (base_calc_table_3['net_quantity_14']/14)*0.3 + 
    (base_calc_table_3['net_quantity_28']/28)*0.2
)*14
base_calc_table_3.head(10)

   store_code stok_kodu                            product_id  safety_stock  prediction_df  stok_miktar  net_quantity_7  net_quantity_14  net_quantity_28  prediction_ma
0        1101  04146501       04146501Puma Black/Gray VioletL           0.0       0.000000            1               0                0                0            0.0
1        1101  04146501       04146501Puma Black/Gray VioletM           0.0       0.000000            0               0                0                0            0.0
2        1101  04146603                   04146603Puma BlackL           0.0       0.000000            1               0                0                0            0.0
3        1101  04146603                   04146603Puma BlackM           0.0       0.000000            0               0                0                0            0.0
4        1101  04164101  04164101Puma Black/Gold/Puma White10           0.0       0.804232            2               0                0                0            0.0
5        1101  04164101  04164101Puma Black/Gold/Puma White11           0.0       0.402116            2               0                1                1            0.4
6        1101  04164101   04164101Puma Black/Gold/Puma White4           0.0       0.000000            1               0                0                0            0.0
7        1101  04164101   04164101Puma Black/Gold/Puma White5           0.0       0.000000            1               0                0                0            0.0
8        1101  04164101   04164101Puma Black/Gold/Puma White6           0.0       0.804232            1               0                0                0            0.0
9        1101  04164101   04164101Puma Black/Gold/Puma White7           0.0       0.000000            3               0                0                0            0.0

In [ ]:
base_calc_table_4 = (
    base_calc_table_3
    .merge(
        orders[['product_id','store_code', 'acik_siparis']], 
        on=['store_code','product_id'], 
        how='left'
    )
)
base_calc_table_4['acik_siparis'] = base_calc_table_4['acik_siparis'].fillna(0).astype(int)

In [75]:
def need_with_14day_coverage(
    df: pd.DataFrame,
    pred_df_col="prediction_df",     # 14g model tahmini
    pred_ma_col="prediction_ma",     # 14g MA tahmini
    ss_col="safety_stock",
    onhand_col="stok_miktar",
    last14_col="net_quantity_14",    # son 14 gÃ¼n satÄ±Å
    last28_col="net_quantity_28",    # son 28 gÃ¼n satÄ±Å
    lead_time_days=2,
    in_transit_col='acik_siparis',             # varsa "in_transit" gibi bir kolon adÄ± ver
    w_min=0.25, w_max=0.75           # model aÄÄ±rlÄ±ÄÄ± sÄ±nÄ±rÄ±
) -> pd.DataFrame:
    out = df.copy()

    # sayÄ±sal kolonlarÄ± temizle
    for c in [pred_df_col, pred_ma_col, ss_col, onhand_col, last14_col, last28_col]:
        if c in out.columns:
            out[c] = pd.to_numeric(out[c], errors="coerce").fillna(0.0)
        else:
            out[c] = 0.0
    if in_transit_col and in_transit_col in out.columns:
        out[in_transit_col] = pd.to_numeric(out[in_transit_col], errors="coerce").fillna(0.0)
    else:
        in_transit_col = None


    avg14_from_28 = out[last28_col] / 2.0
    with np.errstate(divide="ignore", invalid="ignore"):
        momentum = out[last14_col] / avg14_from_28.replace(0, np.nan)
    momentum = momentum.fillna(1.0).clip(0.0, 2.0)

    w_model = (0.5 + 0.25 * (momentum - 1.0)).clip(w_min, w_max)  # 0.25..0.75
    # koruyucu kurallar
    w_model = np.where((out[pred_ma_col] <= 0) & (out[pred_df_col] > 0), 1.0, w_model)
    w_model = np.where((out[pred_df_col] <= 0) & (out[pred_ma_col] > 0) & (out[last28_col] > 0), 0.0, w_model)
    out["w_model"] = w_model.astype(float)

    out["pred_14_blended"] = out["w_model"] * out[pred_df_col] + (1.0 - out["w_model"]) * out[pred_ma_col]

    out["pred_LT"] = out["pred_14_blended"] * (lead_time_days / 14.0)

    out["OUL_14"] = out[ss_col] + out["pred_14_blended"]
    expected_onhand_at_arrival = out[onhand_col] - out["pred_LT"]
    if in_transit_col:
        expected_onhand_at_arrival = expected_onhand_at_arrival + out[in_transit_col]
    out["ihtiyac_adet"] = np.ceil(np.maximum(0.0, out["OUL_14"] - expected_onhand_at_arrival)).astype(int)

    return out

In [86]:
result = need_with_14day_coverage(base_calc_table_4, lead_time_days=2)
result.to_csv(
    "output/replenishment_results.csv",
    index=False,
    sep=";",             
    encoding="utf-8-sig",
    float_format="%.6f"  
)

In [104]:
x.groupby(['store_code','date'], as_index=False)['net_quantity'] \
 .sum() \
 .sort_values('date', ascending=False)

    store_code       date  net_quantity
472       1601 2025-02-07          14.0
471       1601 2025-02-06           2.0
470       1601 2025-02-04           4.0
469       1601 2025-02-03           2.0
468       1601 2025-02-02          16.0
467       1601 2025-02-01          20.0
466       1601 2025-01-31          10.0
465       1601 2025-01-30           8.0
464       1601 2025-01-29           8.0
463       1601 2025-01-28          14.0
462       1601 2025-01-27           6.0
461       1601 2025-01-26          20.0
460       1601 2025-01-25           4.0
459       1601 2025-01-24           4.0
458       1601 2025-01-23          12.0
457       1601 2025-01-22           8.0
456       1601 2025-01-21           6.0
455       1601 2025-01-19          20.0
454       1601 2025-01-18          28.0
453       1601 2025-01-17           2.0
452       1601 2025-01-16           2.0
451       1601 2025-01-15           8.0
450       1601 2025-01-14          12.0
449       1601 2025-01-13           6.0
448       1601 2025-01-12          24.0
447       1601 2025-01-11           8.0
446       1601 2025-01-10           6.0
445       1601 2025-01-09          20.0
444       1601 2025-01-08          16.0
443       1601 2025-01-07           6.0
442       1601 2025-01-06          10.0
441       1601 2025-01-05          16.0
440       1601 2025-01-04          12.0
439       1601 2025-01-03          12.0
438       1601 2025-01-02           4.0
437       1601 2025-01-01          34.0
436       1601 2024-12-31          16.0
435       1601 2024-12-30          18.0
434       1601 2024-12-29          20.0
433       1601 2024-12-28          34.0
432       1601 2024-12-27          14.0
431       1601 2024-12-26           4.0
430       1601 2024-12-25          12.0
429       1601 2024-12-24           8.0
428       1601 2024-12-23          10.0
427       1601 2024-12-22          22.0
426       1601 2024-12-21          26.0
425       1601 2024-12-20          10.0
424       1601 2024-12-19          22.0
423       1601 2024-12-18          14.0
422       1601 2024-12-17           8.0
421       1601 2024-12-16           2.0
420       1601 2024-12-15          24.0
419       1601 2024-12-14          16.0
418       1601 2024-12-13          28.0
417       1601 2024-12-12          14.0
416       1601 2024-12-11           4.0
415       1601 2024-12-10          10.0
414       1601 2024-12-09          10.0
413       1601 2024-12-08          44.0
412       1601 2024-12-07          52.0
411       1601 2024-12-06           6.0
410       1601 2024-12-05           2.0
409       1601 2024-12-04          10.0
408       1601 2024-12-03          12.0
407       1601 2024-12-02          26.0
406       1601 2024-12-01          38.0
405       1601 2024-11-30          54.0
404       1601 2024-11-29          18.0
403       1601 2024-11-28          16.0
402       1601 2024-11-27          10.0
401       1601 2024-11-26          12.0
400       1601 2024-11-25           8.0
399       1601 2024-11-24          36.0
398       1601 2024-11-23          38.0
397       1601 2024-11-22          12.0
396       1601 2024-11-21          26.0
395       1601 2024-11-20          10.0
394       1601 2024-11-19          12.0
393       1601 2024-11-18          14.0
392       1601 2024-11-17          34.0
391       1601 2024-11-16          36.0
390       1601 2024-11-15          24.0
389       1601 2024-11-14          32.0
388       1601 2024-11-13          18.0
387       1601 2024-11-12          24.0
386       1601 2024-11-11          22.0
385       1601 2024-11-10          30.0
384       1601 2024-11-09          52.0
383       1601 2024-11-08           3.0
382       1601 2024-11-07          18.0
381       1601 2024-11-06          12.0
380       1601 2024-11-05          20.0
379       1601 2024-11-04          16.0
378       1601 2024-11-03          40.0
377       1601 2024-11-02          26.0
376       1601 2024-11-01          32.0
375       1601 2024-10-31          22.0
374       1601 2024-10-30          16.0
373       1601 2024-10-29          34.0
372       1601 2024-10-28          64.0
371       1601 2024-10-27          50.0
370       1601 2024-10-26          46.0
369       1601 2024-10-25          16.0
368       1601 2024-10-24          24.0
367       1601 2024-10-23          10.0
366       1601 2024-10-22          18.0
365       1601 2024-10-21          20.0
364       1601 2024-10-20          74.0
363       1601 2024-10-19          42.0
362       1601 2024-10-18          24.0
361       1601 2024-10-17          10.0
360       1601 2024-10-16           2.0
359       1601 2024-10-15          10.0
358       1601 2024-10-14           4.0
357       1601 2024-10-13          32.0
356       1601 2024-10-12          18.0
355       1601 2024-10-11          12.0
354       1601 2024-10-10          34.0
353       1601 2024-10-09          12.0
352       1601 2024-10-08          20.0
351       1601 2024-10-07          16.0
350       1601 2024-10-06          32.0
349       1601 2024-10-05          30.0
348       1601 2024-10-04          10.0
347       1601 2024-10-03          14.0
346       1601 2024-10-02          10.0
345       1601 2024-10-01          22.0
344       1601 2024-09-30          10.0
343       1601 2024-09-29          86.0
342       1601 2024-09-28          14.0
341       1601 2024-09-27          24.0
340       1601 2024-09-26          14.0
339       1601 2024-09-25           8.0
338       1601 2024-09-24          28.0
337       1601 2024-09-23           2.0
336       1601 2024-09-22          84.0
335       1601 2024-09-21          44.0
334       1601 2024-09-20          12.0
333       1601 2024-09-19          14.0
332       1601 2024-09-18          16.0
331       1601 2024-09-17           4.0
330       1601 2024-09-16          14.0
329       1601 2024-09-15          54.0
328       1601 2024-09-14          42.0
327       1601 2024-09-13           6.0
326       1601 2024-09-12          20.0
325       1601 2024-09-11          18.0
324       1601 2024-09-10          26.0
323       1601 2024-09-09          22.0
322       1601 2024-09-08          48.0
321       1601 2024-09-07          22.0
320       1601 2024-09-06          14.0
319       1601 2024-09-05          12.0
318       1601 2024-09-04          16.0
317       1601 2024-09-03          28.0
316       1601 2024-09-02          28.0
315       1601 2024-09-01          42.0
314       1601 2024-08-31          18.0
313       1601 2024-08-30          38.0
312       1601 2024-08-29          12.0
311       1601 2024-08-28          26.0
310       1601 2024-08-27          12.0
309       1601 2024-08-26          18.0
308       1601 2024-08-25          62.0
307       1601 2024-08-24           8.0
306       1601 2024-08-23          18.0
305       1601 2024-08-22          12.0
304       1601 2024-08-21          10.0
303       1601 2024-08-20          28.0
302       1601 2024-08-19          22.0
301       1601 2024-08-18          26.0
300       1601 2024-08-17          10.0
299       1601 2024-08-16          14.0
298       1601 2024-08-15           8.0
297       1601 2024-08-14          10.0
296       1601 2024-08-13          22.0
295       1601 2024-08-12          14.0
294       1601 2024-08-11          24.0
293       1601 2024-08-10          24.0
292       1601 2024-08-09           2.0
291       1601 2024-08-08          10.0
290       1601 2024-08-07          16.0
289       1601 2024-08-05           2.0
288       1601 2024-08-04           8.0
287       1601 2024-08-03          10.0
286       1601 2024-08-01           4.0
285       1601 2024-07-31           2.0
284       1601 2024-07-30           6.0
283       1601 2024-07-28           6.0
282       1601 2024-07-27           2.0
281       1601 2024-07-22           4.0
280       1601 2024-07-13           2.0
279       1601 2024-07-11           2.0
278       1601 2024-07-10           2.0
277       1601 2024-07-07           2.0
276       1601 2024-07-06           8.0
275       1601 2024-07-02           2.0
274       1601 2024-06-25           2.0
273       1601 2024-06-24           2.0
272       1601 2024-06-23           2.0
271       1601 2024-06-20           4.0
270       1601 2024-06-18           2.0
269       1601 2024-06-16           2.0
268       1601 2024-06-15           8.0
267       1601 2024-06-12           2.0
266       1601 2024-06-09          16.0
265       1601 2024-06-08           2.0
264       1601 2024-06-06           2.0
263       1601 2024-06-05           2.0
262       1601 2024-06-03           2.0
261       1601 2024-06-02           4.0
260       1601 2024-06-01           8.0
259       1601 2024-05-31           2.0
258       1601 2024-05-30           2.0
257       1601 2024-05-29           4.0
256       1601 2024-05-28           8.0
255       1601 2024-05-25          14.0
254       1601 2024-05-24           2.0
253       1601 2024-05-23           4.0
252       1601 2024-05-22           2.0
251       1601 2024-05-21           6.0
250       1601 2024-05-19          18.0
249       1601 2024-05-18          10.0
248       1601 2024-05-17           4.0
247       1601 2024-05-15          10.0
246       1601 2024-05-14           4.0
245       1601 2024-05-12          14.0
244       1601 2024-05-11          14.0
243       1601 2024-05-10           4.0
242       1601 2024-05-09           6.0
241       1601 2024-05-06           8.0
240       1601 2024-05-05          22.0
239       1601 2024-05-04           6.0
238       1601 2024-05-03           6.0
237       1601 2024-05-02           2.0
236       1601 2024-05-01          14.0
235       1601 2024-04-28           8.0
234       1601 2024-04-27           6.0
233       1601 2024-04-26           8.0
232       1601 2024-04-25           2.0
231       1601 2024-04-23           6.0
230       1601 2024-04-22           4.0
229       1601 2024-04-21          16.0
228       1601 2024-04-20          10.0
227       1601 2024-04-19          12.0
226       1601 2024-04-18           4.0
225       1601 2024-04-17           4.0
224       1601 2024-04-16          18.0
223       1601 2024-04-15           2.0
222       1601 2024-04-14           6.0
221       1601 2024-04-13          24.0
220       1601 2024-04-12          24.0
219       1601 2024-04-11          14.0
218       1601 2024-04-10           4.0
217       1601 2024-04-09          20.0
216       1601 2024-04-08          34.0
215       1601 2024-04-07          34.0
214       1601 2024-04-06          12.0
213       1601 2024-04-05           2.0
212       1601 2024-04-04          10.0
211       1601 2024-04-03          10.0
210       1601 2024-04-02           2.0
209       1601 2024-04-01          14.0
208       1601 2024-03-31          28.0
207       1601 2024-03-30          20.0
206       1601 2024-03-29           8.0
205       1601 2024-03-28           8.0
204       1601 2024-03-27           6.0
203       1601 2024-03-26          16.0
202       1601 2024-03-25          12.0
201       1601 2024-03-24           8.0
200       1601 2024-03-23          14.0
199       1601 2024-03-22          10.0
198       1601 2024-03-20           4.0
197       1601 2024-03-18           4.0
196       1601 2024-03-17          36.0
195       1601 2024-03-16          16.0
194       1601 2024-03-15           4.0
193       1601 2024-03-14           4.0
192       1601 2024-03-13           4.0
191       1601 2024-03-12           8.0
190       1601 2024-03-11           4.0
189       1601 2024-03-10          16.0
188       1601 2024-03-09           6.0
187       1601 2024-03-08          14.0
186       1601 2024-03-07           2.0
185       1601 2024-03-06           2.0
184       1601 2024-03-05          10.0
183       1601 2024-03-04           4.0
182       1601 2024-03-03          26.0
181       1601 2024-03-02          18.0
180       1601 2024-03-01           6.0
179       1601 2024-02-29           8.0
178       1601 2024-02-28           6.0
177       1601 2024-02-27           4.0
176       1601 2024-02-26          18.0
175       1601 2024-02-25          12.0
174       1601 2024-02-24          14.0
173       1601 2024-02-23           2.0
172       1601 2024-02-22           8.0
171       1601 2024-02-20           4.0
170       1601 2024-02-19          10.0
169       1601 2024-02-18          24.0
168       1601 2024-02-17           8.0
167       1601 2024-02-16           8.0
166       1601 2024-02-15           4.0
165       1601 2024-02-14           2.0
164       1601 2024-02-13           6.0
163       1601 2024-02-12           6.0
162       1601 2024-02-11          18.0
161       1601 2024-02-10          14.0
160       1601 2024-02-09           2.0
159       1601 2024-02-08           8.0
158       1601 2024-02-07           6.0
157       1601 2024-02-05           4.0
156       1601 2024-02-04          16.0
155       1601 2024-02-03          24.0
154       1601 2024-02-02          20.0
153       1601 2024-02-01           4.0
152       1601 2024-01-31           4.0
151       1601 2024-01-30           2.0
150       1601 2024-01-29          10.0
149       1601 2024-01-28           6.0
148       1601 2024-01-27          16.0
147       1601 2024-01-26          10.0
146       1601 2024-01-24           6.0
145       1601 2024-01-23           6.0
144       1601 2024-01-21           4.0
143       1601 2024-01-20           2.0
142       1601 2024-01-19           4.0
141       1601 2024-01-18           6.0
140       1601 2024-01-17           4.0
139       1601 2024-01-16           4.0
138       1601 2024-01-15           4.0
137       1601 2024-01-14          10.0
136       1601 2024-01-13           6.0
135       1601 2024-01-12           6.0
134       1601 2024-01-11          12.0
133       1601 2024-01-10          10.0
132       1601 2024-01-09           4.0
131       1601 2024-01-08           2.0
130       1601 2024-01-07          14.0
129       1601 2024-01-06           8.0
128       1601 2024-01-04           8.0
127       1601 2024-01-03           8.0
126       1601 2024-01-02           2.0
125       1601 2024-01-01          10.0
124       1601 2023-12-31           2.0
123       1601 2023-12-30          12.0
122       1601 2023-12-29           6.0
121       1601 2023-12-26           4.0
120       1601 2023-12-25          26.0
119       1601 2023-12-24           8.0
118       1601 2023-12-23           8.0
117       1601 2023-12-21           4.0
116       1601 2023-12-20           8.0
115       1601 2023-12-18           2.0
114       1601 2023-12-17          18.0
113       1601 2023-12-16           2.0
112       1601 2023-12-15           8.0
111       1601 2023-12-14           2.0
110       1601 2023-12-11          10.0
109       1601 2023-12-10          10.0
108       1601 2023-12-09          20.0
107       1601 2023-12-08           2.0
106       1601 2023-12-07           6.0
105       1601 2023-12-06           4.0
104       1601 2023-12-05           6.0
103       1601 2023-12-04           4.0
102       1601 2023-12-03          12.0
101       1601 2023-12-02          12.0
100       1601 2023-12-01           4.0
99        1601 2023-11-30           2.0
98        1601 2023-11-29           2.0
97        1601 2023-11-28           2.0
96        1601 2023-11-27           2.0
95        1601 2023-11-26          18.0
94        1601 2023-11-25           6.0
93        1601 2023-11-24           2.0
92        1601 2023-11-23           2.0
91        1601 2023-11-22           2.0
90        1601 2023-11-21           8.0
89        1601 2023-11-19          16.0
88        1601 2023-11-18           4.0
87        1601 2023-11-17           8.0
86        1601 2023-11-16           4.0
85        1601 2023-11-15           8.0
84        1601 2023-11-14          12.0
83        1601 2023-11-12          10.0
82        1601 2023-11-11           8.0
81        1601 2023-11-10           4.0
80        1601 2023-11-09           8.0
79        1601 2023-11-08           8.0
78        1601 2023-11-07           2.0
77        1601 2023-11-06           4.0
76        1601 2023-11-05          18.0
75        1601 2023-11-04           6.0
74        1601 2023-11-03           4.0
73        1601 2023-11-01           2.0
72        1601 2023-10-31          14.0
71        1601 2023-10-30           8.0
70        1601 2023-10-29          16.0
69        1601 2023-10-28           4.0
68        1601 2023-10-27           2.0
67        1601 2023-10-25           4.0
66        1601 2023-10-23           4.0
65        1601 2023-10-22          28.0
64        1601 2023-10-21          28.0
63        1601 2023-10-19           2.0
62        1601 2023-10-18           2.0
61        1601 2023-10-17           4.0
60        1601 2023-10-16           6.0
59        1601 2023-10-15          24.0
58        1601 2023-10-14           6.0
57        1601 2023-10-12           8.0
56        1601 2023-10-11           8.0
55        1601 2023-10-09           6.0
54        1601 2023-10-08          14.0
53        1601 2023-10-07          22.0
52        1601 2023-10-06           4.0
51        1601 2023-10-05           2.0
50        1601 2023-10-04          14.0
49        1601 2023-10-01          14.0
48        1601 2023-09-30          10.0
47        1601 2023-09-29          12.0
46        1601 2023-09-28           4.0
45        1601 2023-09-27           4.0
44        1601 2023-09-25           6.0
43        1601 2023-09-24           4.0
42        1601 2023-09-23          22.0
41        1601 2023-09-22           2.0
40        1601 2023-09-20           2.0
39        1601 2023-09-19          10.0
38        1601 2023-09-18           2.0
37        1601 2023-09-17           4.0
36        1601 2023-09-16           6.0
35        1601 2023-09-15           2.0
34        1601 2023-09-13           4.0
33        1601 2023-09-12           8.0
32        1601 2023-09-11           4.0
31        1601 2023-09-10           4.0
30        1601 2023-09-09           4.0
29        1601 2023-09-08           4.0
28        1601 2023-09-07           2.0
27        1601 2023-09-06           4.0
26        1601 2023-09-04           6.0
25        1601 2023-09-02          10.0
24        1601 2023-08-31          18.0
23        1601 2023-08-30          10.0
22        1601 2023-08-28           2.0
21        1601 2023-08-27           8.0
20        1601 2023-08-26           4.0
19        1601 2023-08-25           4.0
18        1601 2023-08-22           4.0
17        1601 2023-08-21           2.0
16        1601 2023-08-20           4.0
15        1601 2023-08-18           2.0
14        1601 2023-08-17           6.0
13        1601 2023-08-16           6.0
12        1601 2023-08-13          10.0
11        1601 2023-08-12           2.0
10        1601 2023-08-11           4.0
9         1601 2023-08-09           2.0
8         1601 2023-08-08           2.0
7         1601 2023-08-05           6.0
6         1601 2023-08-04          10.0
5         1601 2023-08-01           4.0
4         1601 2023-07-31           8.0
3         1601 2023-07-28           6.0
2         1601 2023-07-25           2.0
1         1601 2023-07-24           2.0
0         1601 2023-07-23          10.0

In [ ]:
import pandas as pd
from collections import defaultdict

def allocate_round_robin(
    demand_df: pd.DataFrame,   
    wh_df: pd.DataFrame,       
    keys=("stok_kodu","product_id"),
    order_by=("ihtiyac_adet",) 
):
    dem = demand_df.copy()
    wh  = wh_df.copy()

    # ---- tip & filtre ----
    for c in ["store_code", keys[0], keys[1]]:
        dem[c] = dem[c].astype(str).str.strip()
    dem["ihtiyac_adet"] = pd.to_numeric(dem["ihtiyac_adet"], errors="coerce").fillna(0).astype(int)
    dem = dem[dem["ihtiyac_adet"] > 0].copy()

    for c in ["alt_yer", keys[0], keys[1]]:
        wh[c] = wh[c].astype(str).str.strip()
    wh["miktar"] = pd.to_numeric(wh["miktar"], errors="coerce").fillna(0).astype(int)
    wh = wh[wh["miktar"] > 0].copy()

    # ---- depo stoklarÄ±nÄ± SKU bazÄ±nda topla ----
    wh_agg = (wh.groupby(["alt_yer", *keys], as_index=False)["miktar"]
                .sum().rename(columns={"miktar":"available"}))

    allocations = []  # alt_yer, store_code, keys..., alloc_qty
    used_totals = defaultdict(int)

    # ---- her depo Ã SKU iÃ§in 1'er 1'er daÄÄ±t ----
    for (alt_yer, sku, pid), wrow in wh_agg.set_index(["alt_yer", *keys]).iterrows():
        avail = int(wrow["available"])
        if avail <= 0:
            continue

        needers = dem[(dem[keys[0]] == sku) & (dem[keys[1]] == pid) & (dem["ihtiyac_adet"] > 0)].copy()
        if needers.empty:
            continue

        # sÄ±ralama: ihtiyac_adet DESC, (eÅitlikte) store_code ASC
        if order_by:
            by = list(order_by) + ["store_code"]
            asc = [False]*len(order_by) + [True]
            needers = needers.sort_values(by=by, ascending=asc).reset_index(drop=False)
        else:
            needers = needers.sort_values(["store_code"]).reset_index(drop=False)

        # round-robin
        idx = 0
        n = len(needers)
        remaining = needers["ihtiyac_adet"].tolist()

        while avail > 0 and any(r > 0 for r in remaining):
            if remaining[idx] > 0:
                allocations.append({
                    "alt_yer": alt_yer,
                    "store_code": needers.loc[idx, "store_code"],
                    keys[0]: sku,
                    keys[1]: pid,
                    "alloc_qty": 1
                })
                remaining[idx] -= 1
                avail -= 1
                used_totals[(alt_yer, sku, pid)] += 1
            idx = (idx + 1) % n

        # demâde kalan ihtiyacÄ± gÃ¼ncelle
        dem.loc[needers["index"], "ihtiyac_adet"] = remaining

    # ---- Ã§Ä±ktÄ± tablolarÄ± ----
    if allocations:
        alloc_df = (pd.DataFrame(allocations)
                    .groupby(["alt_yer","store_code", *keys], as_index=False)["alloc_qty"].sum())
    else:
        alloc_df = pd.DataFrame(columns=["alt_yer","store_code", *keys, "alloc_qty"])

    wh_agg["allocated"] = wh_agg.apply(lambda r: used_totals.get((r["alt_yer"], r[keys[0]], r[keys[1]]), 0), axis=1)
    wh_agg["remaining"] = wh_agg["available"] - wh_agg["allocated"]

    remaining_need = dem.rename(columns={"ihtiyac_adet":"remaining_need"})[
        ["store_code", *keys, "remaining_need"]
    ]

    return alloc_df, wh_agg[["alt_yer", *keys, "available", "allocated", "remaining"]], remaining_need

In [38]:
demand_df = result[["store_code","stok_kodu","product_id","ihtiyac_adet"]].copy()
wh_df     = warehouse_stock[["alt_yer","stok_kodu","product_id","miktar"]].copy()

alloc, wh_after, need_after = allocate_round_robin(demand_df, wh_df)

In [39]:
demand_df[demand_df['product_id']=='205455-STDStandartSTD']

        store_code   stok_kodu             product_id  ihtiyac_adet
2247          1101  205455-STD  205455-STDStandartSTD             0
13587         1301  205455-STD  205455-STDStandartSTD             0
30489         1401  205455-STD  205455-STDStandartSTD             0
53008         1601  205455-STD  205455-STDStandartSTD             0
66942         1801  205455-STD  205455-STDStandartSTD             0
83033         1901  205455-STD  205455-STDStandartSTD             0
100844        2001  205455-STD  205455-STDStandartSTD             0
114318         201  205455-STD  205455-STDStandartSTD             0
126903        2101  205455-STD  205455-STDStandartSTD            22
147743        2301  205455-STD  205455-STDStandartSTD             0
165052        2401  205455-STD  205455-STDStandartSTD             6
183023        2601  205455-STD  205455-STDStandartSTD             0
198366        2701  205455-STD  205455-STDStandartSTD             0
225407         301  205455-STD  205455-STDStandartSTD             0

In [40]:
wh_df[wh_df['product_id']=='205455-STDStandartSTD']

      alt_yer   stok_kodu             product_id  miktar
3223   900101  205455-STD  205455-STDStandartSTD  1036.0

In [41]:
alloc[alloc['product_id']=='205455-STDStandartSTD']

    alt_yer store_code   stok_kodu             product_id  alloc_qty
503  900101       2101  205455-STD  205455-STDStandartSTD         22
671  900101       2401  205455-STD  205455-STDStandartSTD          6

In [42]:
wh_after[wh_after['product_id']=='205455-STDStandartSTD']

     alt_yer   stok_kodu             product_id  available  allocated  remaining
2621  900101  205455-STD  205455-STDStandartSTD       1036         28       1008

In [43]:
need_after[need_after['product_id']=='205455-STDStandartSTD']

       store_code   stok_kodu             product_id  remaining_need
126903       2101  205455-STD  205455-STDStandartSTD               0
165052       2401  205455-STD  205455-STDStandartSTD               0